<html>
	<head>
		<title>Bitly Clone</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script type="text/javascript" src="js/url.js"></script>
		

		<link rel="stylesheet" href="/css/application.css">
	</head>

	<body>
	<img id="background" src="img/nature.jpg">
		<div id="nav-bar">
			<img id="logo" src="img/orange_logo.png">
			<ul>
				<a href="#"><li class="nav-bar-items">TOUR</li></a>
				<a href="#"><li class="nav-bar-items">ENTERPRISE</li></a>
				<a href="#"><li class="nav-bar-items">RESOURCES</li></a>
				<a href="#"><li class="nav-bar-items">BLOG</li></a>
				<a href="#"><li class="nav-bar-items">ABOUT</li></a>
				<a href="#"><li class="nav-bar-items-right">LOGIN</li></a>
				<a href="#"><li class="nav-bar-items-right">SIGN UP</li></a>
			</ul>
		</div>
	</img>
		<br>
		<%= yield %>
	</body>
</html>